//- redirection/index.pug
extends ../layout.pug

block title
  title #{lang.iglink} #{username}
  meta(property='og:title' content='' + lang.iglink + ' - ' + username)
  meta(property='og:site_name' content='' + lang.iglink + ' - ' + username)

block content
  nav(class="navbar navbar-default navbar-fixed-top")
    div(class='container')
      ul(class='nav navbar-nav')
        li
          a(href='http://instagram.com/' + username class='navbar-brand')
            img(src='' + avatar class='img-circle')
        li
          a(href='http://instagram.com/' + username class='navbar-brand-name') #{username}
      ul(class='nav navbar-nav navbar-right hidden-xs')
        li
          a(href='http://iglink.co') iglink
  div(class='container fixed-top')
    div(class='row')
      each post in posts
        div(class='col-md-4 col-xs-6 text-center p-15 p-xs-5')
          a(href='' + post.url)
            img(src='' + post.thumbnail_src class='img-responsive')


  script ga('send', 'event', 'redirection', 'redirection_success', '#{username}');

block scripts
  script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js')
  //script location.href='#{url}';
