//- redirection/index.pug
extends ../layout.pug

block title
  title #{lang.redirection.iglink_Redirection} #{username}

block content
  div(id='redirection-container' class='container-fluid')
    div(class='row text-white p-y-150')
      div(class='col-md-12 text-center')
        img(width='150px' src='./public/assets/img/logo.png')
        h1 #{lang.iglink_co}
        h4(class='p-t-20') #{lang.redirection.Creating_redirection}
        div(class='spinner')
          svg(width='40px' height='40px' viewBox='0 0 66 66' xmlns='http://www.w3.org/2000/svg')
            circle(fill='none' stroke-width='4' stroke-linecap='round' cx='33' cy='33' r='30' class='circle')
        script ga('send', 'event', 'redirection', 'redirection_success', '#{username}');
        h5 #{lang.redirection.iglink_co_helps_Instagram_users_to_have_the_biography_link}
        h5 #{lang.redirection.always_updated_with_the_link_of_their_last_post}

block scripts
  script(src='https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js')
  script location.href='#{url}';
