//- redirection/error/index.pug
extends ../../layout.pug

block title
  title #{lang.redirection.iglink_Redirection} #{username}

block content
  div(id='redirection-container' class='container-fluid')
    div(class='row text-white p-y-150')
      div(class='col-md-12 text-center')
        img(width='150px' src='./public/assets/img/logo.png')
        h1 #{lang.iglink_co}
        h2 #{lang.redirection.error.sad_face}
        h4 #{lang.redirection.error.Sorry_there_is_no_link_to_redirect_you}
        div(class='row p-t-20')
          div(class='col-md-4 col-md-offset-4')
            a(href='http://instagram.com/' + username class='btn btn-primary btn-block') #{lang.redirection.error.Back_to_Instagram_Profile}
        script ga('send', 'event', 'redirection', 'redirection_error', '#{username}');
        h5 #{lang.redirection.iglink_co_helps_Instagram_users_to_have_the_biography_link}
        h5 #{lang.redirection.always_updated_with_the_link_of_their_last_post}
